@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body {
    height: 100vh;
    font-family: Noto Sans;
    background-color: #000;
}

.profilePic {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 768px ) {
    .profilePic {
        width: 100px;
        height: 100px;
    }
}

.aside {
    height: 100vh;
}

@media screen and (max-width: 992px) {
    .aside {
        height: 50px;
    }
}

.wrapper {
    height: 0.5px;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 10px;
    background: white;
}
::-webkit-scrollbar {
    width: 10px;
    background: black;
    border-radius: 10px;
}

#chatBox::-webkit-scrollbar {
    width: 0;
}


#messageInput::placeholder {
    color: white;
}